/* Add styles for cards and game board */
.memory-game {
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

 .card {
    width: 200px;
    height: 200px;
    background-color: #f53535;
    margin: 5px;
    cursor: pointer;
}