/* Add styles for cards and game board */
h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.memory-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

 .card {
    width: 200px;
    height: 200px;
    background-color: #f53535;
    margin: 5px;
    cursor: pointer;
}

/* .column {
    display: grid;
    grid-template-columns: auto auto auto;
} */